.cyberpunk{
	float:left;
	text-align:justify;
	width:48%;
	font-size:30px;
	border:2px solid black;
	background-color:white;
	padding:10px;
}
.re3{
	float:right;
	width:48%;
	text-align:justify;
	font-size:30px;
	border:2px solid black;
	background-color:white;
	padding:10px;
}
h1{font-size: 60px;
color:white;
text-align:center;}
h1:hover{color:yellow;}
body{background-image:url("pozadina.jpg");}
h2{
font-size:35px;
text-align:center;
}
